{{ define "main" }}
  {{- partial "intro.html" . -}}
  {{ $frontBundle := .Site.Params.frontBundle | default "cars" }}
  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ $sortedPages := sort (where .Site.RegularPages "Type" $frontBundle) "Params.price_month" }}
    {{ range first 6 $sortedPages }}
      {{- partial "car-card.html" . -}}
    {{ end }}
  </div>

  {{ if gt (len (where .Site.RegularPages "Type" $frontBundle)) 6 }}
  <div class="text-center mb-8">
    <a class="px-8 py-4 rounded-lg transition-colors bg-yellow-400 hover:bg-yellow-500
      text-gray-900 font-bold text-lg shadow-md hover:shadow-lg"
      href="{{ (index (.Site.Menus.main) 0).URL | absLangURL }}" lang="{{ .Lang }}">
      {{ i18n "morePosts" }}
    </a>
  </div>
  {{ end }}

  {{ partial "promo-banner.html" . }}
  {{- partial "social.html" . -}}
{{ end }}